@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  font-family: "Quicksand";
  font-weight: 500;
  background-color: black;
}

html {
  font-size: 62.5%;
}

button,
select,
input {
  background-color: white;
  color: black;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
}
button:hover,
select:hover,
input:hover {
  background-color: orange;
}

.container {
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
}
.container-header {
  min-height: 20vh;
  background-color: orange;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.container-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid white;
  padding: 2rem;
  position: relative;
}
.container-form i {
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
}
.container-form i:hover {
  color: orange;
}
.container-form input {
  padding: 2rem;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
}
.container-form input::-moz-placeholder {
  color: black;
  text-transform: uppercase;
}
.container-form input::placeholder {
  color: black;
  text-transform: uppercase;
}
.container-form select {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}
.container-packinglist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  padding: 5rem 2rem;
  background-color: rgb(0, 0, 0);
  gap: 5rem;
  min-height: 60vh;
  position: relative;
}
.container-packinglist-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.container-packinglist-content-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: orange;
  padding: 2rem;
  border-radius: 2rem;
  color: black;
}
.container-packinglist-content-div-inside {
  display: flex;
  gap: 2rem;
}
.container-packinglist-content-div-inside-done {
  display: flex;
  gap: 2rem;
  text-decoration: line-through;
}
.container-packinglist-content-div-times {
  color: white;
  font-size: 3rem;
}
.container-packinglist-content-div-times:hover {
  cursor: pointer;
}
.container-packinglist-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.container-packinglist-sort select {
  outline: none;
  border: none;
  display: flex;
  padding: 1rem rem;
}
.container-packinglist-sort button {
  background-color: white;
  font-weight: 700;
  border: none;
  outline: none;
}
.container-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 9.2vh;
  color: black;
}/*# sourceMappingURL=style.css.map */